@include media-md {
  header .container .aside {
    right: -1em;
    top: 9em;
  }

  nav {
    margin-top: 4em;
  }

  .projects {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  footer {
    display: flex;

    div {
      max-width: 700px;
    }
  }

}

@include media-lg {
  
}

@include media-xl {
  
  .projects {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }  

}