@import "reset";
@import "config";
@import "form";
@import "animation";
@import "project";

@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap');

body {
  color: text-color($color-white);
  font-family: 'Bellota Text', cursive;
  font-size: 18px;
  letter-spacing: .06em;
  line-height: 1.5em;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: $color-first;
  font-weight: 700;
/*
  &:hover {
    color: $color-second;
  }*/
}

h1 {
  font-family: serif;
  display: inline;
  line-height: 2rem;
  font-size: 2em;
}

h2 {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.5em;
}

i {
  color: text-color($color-first);

  &:hover {
    color: $color-third;
  }
}

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .container {
    min-width: 300px;
    max-width: 700px;
    padding: 2em;
    position: relative;

    p {
      line-height: 2em;

      span {
        font-family: serif;
        font-weight: 700;
        color: $color-second;
      }
    }

    .aside {
      color: $color-white;
      position: absolute;
      width: 250px;
      right: 1em;
      top: 11em;
      background-color: $color-second;
      z-index: -1;
    }

    .circle {
      position: relative;
      width: 150px;
      height: 150px;
      background: url("../img/img.png");
      background-position: center;
      background-size: cover;
      shape-outside: circle() margin-box;
      margin: 20px;
      float: left;
      border-radius: 50%;

      &::before {
        content: '';
        width: 150px;
        height: 150px;
        background-color: $color-first;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 50%;
        mix-blend-mode: overlay;  //normal|multiply|screen|overlay|darken|lighten|color-dodge|color-burn|difference|exclusion|hue|saturation|color|luminosity;
      }
    }
  }

  nav {
    margin: 2em auto 2em;
    font-size: 1em;

    ul li {
      margin: 0 .5em;

      &:first-child{
        margin-left: 0px;
      }

      &:last-child{
        margin-right: 0px;
      }

      display: inline-block;
      position: relative;
      overflow: hidden;
      
      transform: perspective(1px) translateZ(0);

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: $color-first;
        height: 2px;
        @include transition-ease;
      }

      &:hover:before, &:focus:before, &:active:before {
        left: 0;
        right: 0;
      }
    }
  }
}


@import "media";

.full-width {
  height: 100px;
  width: 100%;
  position: relative;
  //background: url("../img/bg.jpg");
  /*background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: relative;*/
  background-color: $color-first;
  color: text-color($color-first);
  
  h2 {
    position: absolute;
    right: 1em;
    bottom: 1em;
  }

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.projects {
  width: 100%;
}

footer {

  div {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &:first-child {
      background-color: $color-first;
      color: text-color($color-first);
      text-align: center;
      padding: 2em;

      p {
       font-style: italic;
      }

      p:nth-child(3) {
        margin-top: 5em;
      }

      span {
        font-size: .6em;
        font-style: normal;
      }
    }

    &:last-child {
      padding: 3em;
    }
  }
}

button {
  border-radius: 5px;
  font-family: 'Bellota Text', cursive;
  font-size: 1rem;
  padding: 1em 2em;
  background-color: transparent;
  color: text-color($color-first);
  background-color: $color-first;
  border: none;
  width: auto;
  
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  @include transition-ease;

  &:hover, &:focus, &:active {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
}
