@import "reset";
@import "config";
@import "form";
@import "animation";
@import "project";

@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  color: text-color($color-white);
  font-family: 'Bellota Text', cursive;
  font-size: 18px;
  letter-spacing: .06em;
  line-height: 1.5em;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: $color-first;
  font-weight: 700;
}

h1 {
  font-family: serif;
  display: inline;
  line-height: 2rem;
  font-size: 2em;
  font-family: 'Bebas Neue', cursive;
}

h2 {
  font-size: 1.5em;
  letter-spacing: .2em;
  font-family: 'Bebas Neue', cursive;
}

i {
  color: text-color($color-first);
  margin: 0px .2em;
  @include transition-ease;
  font-size: 1.8em;

  &:not(:first-child):hover {
    transform: scale(1.5);
    color: $color-second;
  }

  &:first-child:hover {
    animation: back .8s ease-in-out infinite;
    color: $color-second;
  }
}

img {
  width: 100%;
}


header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .container {
    min-width: 300px;
    max-width: 700px;
    padding: 2em;
    position: relative;

    p {
      line-height: 2em;

      span {
        font-family: 'Bebas Neue', cursive;
        color: $color-second;
      }
    }

    .aside {
      color: $color-white;
      position: absolute;
      width: 250px;
      right: 1em;
      top: 13em;
      background-color: $color-second;
      z-index: -1;
    }

    .circle {
      position: relative;
      width: 150px;
      height: 150px;
      background: url("../img/img.png");
      background-position: center;
      background-size: cover;
      shape-outside: circle() margin-box;
      margin: 20px;
      float: left;
      border-radius: 50%;
      @include boxshadow;

      transform: perspective(1px) translateZ(0);
      &:hover {
        animation: avatar .3s linear 1;
      }

      &::before {
        content: '';
        width: 150px;
        height: 150px;
        background-color: $color-first;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 50%;
        mix-blend-mode: overlay;  //normal|multiply|screen|overlay|darken|lighten|color-dodge|color-burn|difference|exclusion|hue|saturation|color|luminosity;
      }
    }
  }

  nav {
    margin: 3em auto 2em;
    font-size: 1em;

    ul li {
      margin: 0 .5em;

      &:first-child{
        margin-left: 0px;
      }

      &:last-child{
        margin-right: 0px;
      }

      display: inline-block;
      position: relative;
      overflow: hidden;
      
      transform: perspective(1px) translateZ(0);

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: $color-first;
        height: 1px;
        @include transition-ease;
      }

      &:hover:before, &:focus:before, &:active:before {
        left: 0;
        right: 0;
      }
    }
  }
}

.full-width {
  height: 250px;
  width: 90%;
  position: relative;
  text-align: center;
  color: text-color($color-first);
  @include boxshadow;

  background-color: $color-first;
  background: url("../img/bg1.jpg"), url("../img/img1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;

  
  div, h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  p {
    margin-bottom: 1em;
  }
}

.projects {
  width: 100%;
}

footer {
  margin: 1em auto;

  div {
    height: 500px;
    width: 100%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &:first-child {
      background-color: $color-first;
      background: url("../img/img3.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @include boxshadow;

      color: text-color($color-first);
      text-align: center;

      p {
       font-style: italic;
      }

      p:nth-child(3) {
        margin-top: 5em;
      }

      span {
        font-size: .6em;
        font-style: normal;
      }
    }

    &:last-child {
      max-width: 700px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 250px;
        height: 250px;
        right: 1em;
        top: 1em;
        background-color: $color-second;
        z-index: -1;
      }
    }
  }
}

button {
  font-family: 'Bellota Text', cursive;
  font-size: 1rem;
  padding: 1em 2em;
  color: text-color($color-first);
  background: $color-first url("../img/texture1.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  border: none;
  width: auto;
  outline: none;
  
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  @include boxshadow;
  @include transition-ease;

  &:hover, &:focus, &:active {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
}



@import "media";